[user]
    email = piotr@wittchen.io
    name = Piotr Wittchen
[core]
    autocrlf = input
    editor = vim
    excludesfile = ~/.gitignore_global
[push]
    ; push only to the current branch
    default = simple
[diff]
    tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[alias]
    ; metadata
    aliases = !git config -l | grep alias | cut -c 7- | sort
    url = config --get remote.origin.url

    ; status
    status-short = status -sb

    ; commits, logs & branches
    my-commits = "!git log --author=\"`git config user.name`\" --pretty=format:\"%cd %h %s\" --date=short"
    my-commits-today = "!git log --author=\"`git config user.name`\" --pretty=format:\"%cd %h %s\" --date=short --since=00:00:00 --all --no-merges"
    my-commits-last-month = "!git log --author=\"`git config user.name`\" --pretty=format:\"%cd %h %s\" --date=short --since=\"30 days ago\" --all --no-merges"
    last-commit-msg = log -1 --pretty=%B
    last-commit-hash = log -1 --pretty=%h
    hist = log --graph --decorate --pretty=format:'%C(yellow)%h %Creset %C(red)%d %ad% %Creset %s %C(bold blue)[%cn]%Creset' --date=relative --abbrev-commit
    list-new-unstaged-files = ls-files --others --exclude-standard
    list-contributors = shortlog -sn

    ; tracked files
    tracked-files = ls-files -t
    untracked-files = ls-files --others
    ignored = ls-files --others -i --exclude-standard

    ; ignoring files locally
    ignore-local = update-index --assume-unchanged
    unignore-local = update-index --no-assume-unchanged
    ignored-local = !git ls-files -v | grep "^[[:lower:]]"

    ; adding new files and reviewing changes
    review = add -p
    add-all = add -A

    ; undoing things
    reset-file = checkout HEAD --
    discard-uncommited-changes = reset --hard
    discard-unstaged-changes = checkout -- .
    remove-from-stage = reset HEAD --
    undo-last-commit = reset --hard HEAD~1
    revert-merge-commit = git revert -m 1
    restore-file = !git checkout $(git rev-list -n 1 HEAD -- "$1")^ -- "$1"

    ; removing untracked files/dirs
    show-untracked-files-to-remove = clean -n
    remove-untracked-files = clean -f
    remove-untracked-dirs = clean -fd

    ; merging/squashing commits
    squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\";  };f"

    ; branches
    last-branch = checkout -
    new-branch = checkout -b
    delete-branch = branch -d
    force-delete-branch = branch -D
    delete-remote-branch = push origin --delete
    delete-branches-merged-to-master = "!git checkout master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

    ; showing diffs
    diff-commit = diff --cached HEAD^
    diff-staged = diff --staged

    ; searching files
    find-file= !git ls-files | grep -i

; interesting references for git aliases and configuration:
; - https://gist.github.com/mwhite/6887990
; - http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
; - https://gist.github.com/robmiller/6018582
; - https://github.com/git-tips/tips
; - https://gist.github.com/robmiller/5133264
; - https://github.com/qw3rtman/git-fire
